body{
	font-family:arial, sans-serif;
	padding:0px;
	margin:0px;
	background-color:white;
}
a{
	text-decoration: none;
}

header{
background: #5DADE2;
color:#ffffff;
padding-top:20px;
min-height:60px;
border-bottom:black 1px solid;
overflow:hidden;
}
header .upper{
	color:#ffffff;
	text-transform: uppercase;;
	font-size:16px;
}
header li{
	float:left;
	display:inline-block;
	padding: 0 20px 0 20px;
}
header .cont{
	float:left;
}
header .cont h1{
float:left;
}

header nav{
	float:right;
	margin-top:10px;
}
header a:hover{
	color:#cccccc;
	font-weight: bold;
}
header .cont, header .home a{
	color:black;
	font-weight: bold;
}

@media only screen and (max-width: 800px){
  header .cont,
  header nav,
  header nav li,
  }

#myInput {
  background-image: url('../asset/icons/searchicon.png'); 
  background-position: 10px 12px; 
  background-repeat: no-repeat;
  border: 1px solid #ddd; 
  margin-left:5px;
  margin-top: 10px;
}

#myTable {
  border-collapse: collapse; 
  width: 95%; 
  border: 1px solid #ddd; 
  font-size: 18px; 
  margin:5px;
}

#myTable th, #myTable td {
  text-align: left; 
  padding: 12px; 
}

#myTable tr {
  border-bottom: 1px solid #ddd; 
}

#myTable tr.header, #myTable tr:hover {
  background-color: white;
}
.das{
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer; 
}
.dsuccess {
	color: blue;
} 
.dsuccess:hover {
	background-color: red; color: white;
}

.success {
	background-color: #4CAF50;border-radius: 5%;
} 
.success:hover {
	background-color: #e8491d;
}

.ddanger{
  color: red;
}
.ddanger:hover {
  background-color: red; color: white;
}

@media only screen and (max-width: 800px), (min-device-width:500px) and (max-device-width: 600px ) {
  table, th, td, tr { 
    display: relative; 
  }

  
  tr { border: 1px solid #ccc; }
  
  td { 
    
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
  }
  
  td:before { 
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }
  

}
.high{
  padding:10px;
}
