body , html{
  height: 200rem;
}

a{
  text-decoration: none;
}

header{
background: #5DADE2;
color:#ffffff;
padding-top:20px;
min-height:60px;
border-bottom:black 1px solid;
overflow:hidden;
}
header .upper{
  color:#ffffff;
  text-transform: uppercase;;
  font-size:16px;
}
header li{
  float:left;
  display:inline-block;
  padding: 0 20px 0 20px;
}
header .cont{
  float:left;
}
header .cont h1{
float:left;
}

header nav{
  float:right;
  margin-top:10px;
}
header a:hover{
  color:#cccccc;
  font-weight: bold;
}
header .cont, header .home a{
  color:black;
  font-weight: bold;
}

ul.breadcrumb {
    padding: 20px 20px;
    list-style: none;
    background-color:black;
}

@media(max-width: 800px){
  header .cont,
  header nav,
  header nav li,
  container1
  }

.bg-img {
  /* The image used */
  background-image: url("../asset/images/sample.jpg");

  /* Control the height of the image */
  min-height: 700px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-sizing: border-box;
}

/* Add styles to the form container */
.container1 {
  margin: auto;
  width: 45%;
  background: white;
  padding-top: 20px;
  margin-top: 5px;
  padding-left: 50px;

  
}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width:84%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

#email1{
 background: url('../asset/icons/user.png')no-repeat 4px 5px #f1f1f1;
 padding-left: 40px;
  

}
#pass{
 background: url('../asset/icons/lock.png')no-repeat 4px 5px #f1f1f1;
 padding-left: 40px;

}
/* Set a style for the submit button */
.btn {
  background-color:#5DADE2;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 91%;
  opacity: 0.9;

}

.btn:hover {
  opacity: 1;
}
.cancelBtn{
  width:100%;
}
.lin{
  text-decoration: none;
  color:MediumSeaGreen;
  text-align: right;
}
.lin:hover{
  color: white;
  background-color: black;
}
img.user-icon{
  width: 40%;
  border-radius: 50%;
}
.imgcontainer{
text-align: center;
margin-bottom: 24px 0 12px 0;
position: relative;
}
.res{
  padding: 17px;
}
.cancelBtn{
  width: auto;
  padding-top: 10px 20px;
  background-color: SlateBlue;
  cursor: pointer;
  color: white;
  border:none;
  margin-bottom: 8px 0;
  color: white;
}
.high{
  padding:10px;
}

@media screen and (max-width: 600px) {
 input[type=text], input[type=submit]{
    width: 90%;
    display: block;
      }
@media only screen and (max-width: 640px){
  .container {
      width: 360px;
  } 